
    body{
        background-image: url("https://i.pinimg.com/originals/27/b4/be/27b4be439860a16a439c09eccb37dd53.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

